#mimeo-detect-breakpoint {
  position: absolute;
  top: -99999px;
  left: -99999px;
  min-height: 1px;
  font-family: mobile;
  -webkit-transition: min-height 0.01ms;
  -moz-transition: min-height 0.01ms;
  -o-transition: min-height 0.01ms;
  transition: min-height 0.01ms;
}
@media (min-width: 480px) {
  #mimeo-detect-breakpoint {
    min-height: 2px;
    font-family: wide-mobile;
  }
}
@media (min-width: 640px) {
  #mimeo-detect-breakpoint {
    min-height: 3px;
    font-family: narrow-tablet;
  }
}
@media (min-width: 768px) {
  #mimeo-detect-breakpoint {
    min-height: 4px;
    font-family: tablet;
  }
}
@media (min-width: 1024px) {
  #mimeo-detect-breakpoint {
    min-height: 5px;
    font-family: desktop;
  }
}
