
#mimeo-detect-breakpoint {
    min-height: 1px;
    font-family: S; 
    @include transition(min-height 0.01ms);
    @include media-medium { min-height: 2px; font-family: M; };
    @include media-large { min-height: 3px; font-family: L; };
    @include media-xlarge { min-height: 4px; font-family: XL; };
}


